<a href="https://colab.research.google.com/github/harry-kim-droid/-/blob/main/231116.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
{
  "nbformat": 4,
  # 주피터노트북 4.0버전에서 사용하고 파이썬 코드를 생성하고 읽고 수정하는 작업을 수행
  "nbformat_minor": 0,
 # 주피터노트북 4.0버전의 0번째 버전
  "metadata": {
      # 사용자, 생성 날짜, 수정 내역, 커널 설정 (colab, kernalspec, language_info)
    "colab": {
        # metadat에 colab이란
      "provenance": [],
        # 데이터의 출처나 과정을 []에 기록
      "collapsed_sections": []
        # 접힌 상태의 섹션을 []에 리스트형태로 저장
    },
    "kernelspec": {
        # 커널의 사양
      "name": "python3",
        # 파이썬3 버전
      "display_name": "Python 3"
      # 주피터노트북 UI에서 파이썬3 커널의 표시 이름
    },
    "language_info": {
        # 언어 정보
      "name": "python"
      # 주피터노트북에서 파이썬언어 사용
    }
  },
  "cells": [
      # cells라는 리스트 안에 JSON형식으로 표현(셀의 종류, 코드,텍스트내용, 메타데이터)
    {
      "cell_type": "markdown",
      # 마크다운 형식의 cell_type
      "source": [
        "# 코사인 유사도"
      ],
      # "# 코사인 유사도" 라는 마크다운 셀에서 시작하는 제목
      "metadata": {
        "id": "Xs9vSd3T8WZI"
        # 메타데이터의 고유 아이디
      }
    },
    {
      "cell_type": "markdown",
      "source": [
        "**예) Numpy의 dot과 norm을 사용해서 문서 단어 행렬에 대한 코사인 유사도 함수를 구현하기**"
        # 마크다운 셀에서 **예) Numpy의 dot과 norm을 사용해서 문서 단어 행렬에 대한 코사인 유사도 함수를 구현하기**라는 내용을 볼드체 표시
      ],
      "metadata": {
        "id": "LN5xpRy18XCR"
      }
      # 메타데이터의 고유 아이디
    },
    {
      "cell_type": "markdown",
      "source": [
        "문서 1 : 저는 사과 좋아요<br>\n",
        "문서 2 : 저는 바나나 좋아요<br>\n",
        "문서 3 : 저는 바나나 좋아요 저는 바나나 좋아요"
      ],
      # 마크다운 셀에서
      #  "문서 1 : 저는 사과 좋아요 줄바꿈",
      # "문서 2 : 저는 바나나 좋아요 줄바꿈",
      # "문서 3 : 저는 바나나 좋아요 저는 바나나 좋아요"
      "metadata": {
        "id": "uBNTKHmd8ePo"
      }
      # 메타데이터의 고유 아이디
    },
    {
      "cell_type": "markdown",
      "source": [
        "![단어.PNG]()"
      ],
      # 마크다운 셀에 이미지 삽입
      "metadata": {
        "id": "wKCwSFu3-Thi"
      }
      # 메타데이터의 고유 아이디
    },
    {
      "cell_type": "code",
      # 셀타입 코드
      "source": [
        "from numpy import dot\n",
        "from numpy.linalg import norm\n",
        "import numpy as np"
      ],
      # Numpy 라이브러리에서 dot함수 norm함수 호출
      # Numpy.linalg 라이브러리에서 norm함수
      # Numpy 라이브러리를 np로 선언
      "metadata": {
        "id": "M01a2wL48aIC"
        # 메타데이터의 고유 아이디
      },
      "execution_count": 1,
      # 코드셀이 첫번째 실행
      "outputs": []
      # 코드셀의 결과가 []부분에 출력
    },
    {
      "cell_type": "markdown",
      "source": [
        "![유사도.PNG]()"
      ],
      # 마크다운 셀타입에 이미지 삽입
      "metadata": {
        "id": "s2_y0J2u-igy"
      }
      # 메타데이터의 고유 아이디
    },
    {
      "cell_type": "code",
      # 셀타입 코드
      "source": [
        "def cos_sim(A, B):\n",
        "  return dot(A, B)/(norm(A)*norm(B))"
      ],
      # 코사인 유사도 : "A와 B의 내적 / A의 노름 = B의 노름"라고 정의
      "metadata": {
        "id": "vtM_2C3s8biZ"
      },
      # 메타데이터의 고유 아이디
      "execution_count": 2,
      # 코드셀의 두번째 실행
      "outputs": []
      # 코드셀의 결과가 []에 출력
    },
    {
      "cell_type": "code",
      # 셀타입 코드
      "source": [
        "doc1 = np.array([0,1,1,1])\n",
        "doc2 = np.array([1,0,1,1])\n",
        "doc3 = np.array([2,0,2,2])"
      ],
      # doc1라는 벡터는 단어의 빈도수를 "0, 1, 1, 1"로 정의
      # doc2라는 벡터는 단어의 빈도수를 "1, 0, 1, 1"로 정의
      # doc3라는 벡터는 단어의 빈도수를 "2, 0, 2, 2"로 정의

      "metadata": {
        "id": "prc7X-T68cBH"
      },
      # 메타데이터의 고유아이디
      "execution_count": 3,
      # 코드셀의 세번째 실행
      "outputs": []
      # 코드셀의 결과가 []에 출력
    },
    {
      "cell_type": "code",
      # 셀타입 코드
      "source": [
        "print('문서 1과 문서2의 유사도 :',cos_sim(doc1, doc2))\n",
        "print('문서 1과 문서3의 유사도 :',cos_sim(doc1, doc3))\n",
        "print('문서 2와 문서3의 유사도 :',cos_sim(doc2, doc3))"
      ],
      # 앞에서 정의한 코사인유사도를
      # doc1, doc2의 코사인 유사도를 측정 후 출력
      # doc1, doc3의 코사인 유사도를 측정 후 출력
      # doc2, doc3의 코사인 유사도를 측정 후 출력
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        # 메타데이터 부분에서 코랩에 url을 기본으로 설정
        "id": "EVb-OQig8cq_",
        # 코드셀의 고유아이디
        "outputId": "e7790c4a-5985-4267-f378-8cdfa31f7a04"
        # 셀의 출력의 고유아이디
      },
      "execution_count": 4,
      # 코드셀의 네번째 실행
      "outputs": [
        {
          "output_type": "stream",
          # 출력유형은 텍스트스트림
          "name": "stdout",
          # 출력이름은 표준 출력
          "text": [
            "문서 1과 문서2의 유사도 : 0.6666666666666667\n",
            "문서 1과 문서3의 유사도 : 0.6666666666666667\n",
            "문서 2와 문서3의 유사도 : 1.0000000000000002\n"
          ]
          # 텍스트는
          #  "문서 1과 문서2의 유사도 : 0.6666666666666667줄띄우기",
          #  "문서 1과 문서3의 유사도 : 0.6666666666666667줄띄우기",
          #  "문서 2와 문서3의 유사도 : 1.0000000000000002줄띄우기"로 출력
      ]
    },
    {
      "cell_type": "markdown",
      # 셀유형 마크다운
      "source": [
        "# 유사도를 이용한 추천 시스템 구현하기"
      ],
      # 유사도를 이용한 추천 시스템 구현하기를 출력
      #
      "metadata": {
        "id": "Wuu4dGHc8h-r"
      }
      # 메타데이터의 고유 아이디
    },
    {
      "cell_type": "markdown",
      "source": [
        "**영화 데이터셋을 가지고 영화를 입력하면, 해당 영화의 줄거리와 유사한 줄거리의 영화를 찾아 추천하는 영화 추천 시스템 만들기**"
      ],
      # 셀타입: 마크다운
      # 볼드체로 "영화 데이터셋을 가지고 영화를 입력하면, 해당 영화의 줄거리와 유사한 줄거리의 영화를 찾아 추천하는 영화 추천 시스템 만들기" 출력
      "metadata": {
        "id": "_0pgmEuk9ifT"
      }
      # 메타데이터의 고유아이디
    },
    {
      "cell_type": "code",
      # 셀타입 코드
      "source": [
        "import pandas as pd\n",
        # pandas라이브러리를 pd라는 이름으로 호출
        "from sklearn.feature_extraction.text import TfidfVectorizer\n",
        # sklearn라이브러리에서 텍스트데이터를 TF-IDF값으로 반환해주는 TfidfVectorize를 출력
        "from sklearn.metrics.pairwise import cosine_similarity"
        # sklearn라이브러리에서 코사인유사도를 출력
      ],
      "metadata": {
        "id": "YP1XdUxy8inT"
      },
      # 메타데이터의 고유아이디
      "execution_count": 5,
      # 코드셀의 다섯번째 실행
      "outputs": []
      # 출력부분이 []로 출력
    },
    {
      "cell_type": "markdown",
      # 셀타입 마크다운
      "source": [
        "**1) 원본 파일인 총 24개의 열을 가진 45466개의 샘플로 구성된 영화 정보 데이터 movies_metadata.csv 파일을 다운받기**"
      ],
      # 1) 원본 파일인 총 24개의 열을 가진 45466개의 샘플로 구성된 영화 정보 데이터 movies_metadata.csv 파일을 다운받기 볼드체로 출력
      "metadata": {
        "id": "no0twjVJ9lXZ"
      }
      # 메타데이터의 고유아이디
    },
    {
      "cell_type": "code",
      # 셀타입: 코드
      "source": [
        "from google.colab import drive\n",
        # 구글코랩의 드라이브에서 출력
        "drive.mount('/content/drive')"
        # '/content/drive'라는 드라이브
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        # 메타데이터의 기본 url을 코렙에서 "https://localhost:8080/"로 설정
        "id": "Gg-C5QZ08wvg",
        # 메타데이터의 고유아이디
        "outputId": "fee9ff07-9352-45d2-974b-d30ee0345e4a"
      },
      # 셀의 출력의 고유아이디
      "execution_count": 6,
      # 코드셀의 여섯번째 실행
      "outputs": [
        {
          "output_type": "stream",
          # 출력 타입: 표준출력
          "name": "stdout",
          # 이름 : 표준출력으로 정의
          "text": [
            "Mounted at /content/drive\n"
          ]
          # text는  "Mounted at /content/drive\n"로 출력
        }
      ]
    },
    {
      "cell_type": "code",
      # 셀타입은 코드
      "source": [
        "PATH = '/content/drive/MyDrive/Colab Notebooks/dataset/'"
      ],
      # 경로 = '/content/drive/MyDrive/Colab Notebooks/dataset/'"로 설정
      "metadata": {
        "id": "ZYPXfZUz9FIq"
      },
      # 메타데이터의 고유아이디
      "execution_count": 10,
      # 코드셀의 열번째 출력
      "outputs": []
      # 출력부분이 []로 출력
    },
    {
      "cell_type": "markdown",
      # 셀타입은 마크다운(텍스트,이미지, 링크) 형식
      "source": [
        "**2) 다운로드 받은 훈련 데이터에서 상위 2개의 샘플만 출력하여 데이터의 형식을 확인**"
      ],
      # "2) 다운로드 받은 훈련 데이터에서 상위 2개의 샘플만 출력하여 데이터의 형식을 확인" 를 볼드체로 출력
      "metadata": {
        "id": "017-Whid9nsV"
      }
      # 메타데이터의 고유 아이디
    },
    {
      "cell_type": "code",
      # 셀타입 : 코드
      "source": [
        "data = pd.read_csv(PATH + 'movies_metadata.csv', encoding = 'utf-8-sig', low_memory=False)\n",
        "data.head(2)"
        # Path, movies_metadata.csv파일을 utf-8-sig로 읽고 데이터 형식 추론을 시도하고 필요한 메모리를 미리 할당
        # Dataframe의 상위2개의 샘플을 출력
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 396
        },
        # 메타데이터 : 코랩에서 기본 url을 "https://localhost:8080/"로 설정하고, 높이를 396으로 출력
        "id": "lBLfXW0G8nQg",
        "outputId": "b88182cb-e1db-46b4-ff6b-c4181d64cd1a"
      },
      # 메타데이터: 고유아이디, 출력된 아이디
      "execution_count": 11,
      # 코드셀의 열한번째 출력
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "   adult                              belongs_to_collection    budget  \\\n",
              "0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000   \n",
              "1  False                                                NaN  65000000   \n",
              "\n",
              "                                              genres  \\\n",
              "0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...   \n",
              "1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   \n",
              "\n",
              "                               homepage    id    imdb_id original_language  \\\n",
              "0  http://toystory.disney.com/toy-story   862  tt0114709                en   \n",
              "1                                   NaN  8844  tt0113497                en   \n",
              "\n",
              "  original_title                                           overview  ...  \\\n",
              "0      Toy Story  Led by Woody, Andy's toys live happily in his ...  ...   \n",
              "1        Jumanji  When siblings Judy and Peter discover an encha...  ...   \n",
              "\n",
              "  release_date      revenue runtime  \\\n",
              "0   1995-10-30  373554033.0    81.0   \n",
              "1   1995-12-15  262797249.0   104.0   \n",
              "\n",
              "                                    spoken_languages    status  \\\n",
              "0           [{'iso_639_1': 'en', 'name': 'English'}]  Released   \n",
              "1  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released   \n",
              "\n",
              "                                     tagline      title  video vote_average  \\\n",
              "0                                        NaN  Toy Story  False          7.7   \n",
              "1  Roll the dice and unleash the excitement!    Jumanji  False          6.9   \n",
              "\n",
              "  vote_count  \n",
              "0     5415.0  \n",
              "1     2413.0  \n",
              "\n",
              "[2 rows x 24 columns]"
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-a06ac27b-e196-4b97-8554-88c62710321b\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>adult</th>\n",
              "      <th>belongs_to_collection</th>\n",
              "      <th>budget</th>\n",
              "      <th>genres</th>\n",
              "      <th>homepage</th>\n",
              "      <th>id</th>\n",
              "      <th>imdb_id</th>\n",
              "      <th>original_language</th>\n",
              "      <th>original_title</th>\n",
              "      <th>overview</th>\n",
              "      <th>...</th>\n",
              "      <th>release_date</th>\n",
              "      <th>revenue</th>\n",
              "      <th>runtime</th>\n",
              "      <th>spoken_languages</th>\n",
              "      <th>status</th>\n",
              "      <th>tagline</th>\n",
              "      <th>title</th>\n",
              "      <th>video</th>\n",
              "      <th>vote_average</th>\n",
              "      <th>vote_count</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>False</td>\n",
              "      <td>{'id': 10194, 'name': 'Toy Story Collection', ...</td>\n",
              "      <td>30000000</td>\n",
              "      <td>[{'id': 16, 'name': 'Animation'}, {'id': 35, '...</td>\n",
              "      <td>http://toystory.disney.com/toy-story</td>\n",
              "      <td>862</td>\n",
              "      <td>tt0114709</td>\n",
              "      <td>en</td>\n",
              "      <td>Toy Story</td>\n",
              "      <td>Led by Woody, Andy's toys live happily in his ...</td>\n",
              "      <td>...</td>\n",
              "      <td>1995-10-30</td>\n",
              "      <td>373554033.0</td>\n",
              "      <td>81.0</td>\n",
              "      <td>[{'iso_639_1': 'en', 'name': 'English'}]</td>\n",
              "      <td>Released</td>\n",
              "      <td>NaN</td>\n",
              "      <td>Toy Story</td>\n",
              "      <td>False</td>\n",
              "      <td>7.7</td>\n",
              "      <td>5415.0</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>False</td>\n",
              "      <td>NaN</td>\n",
              "      <td>65000000</td>\n",
              "      <td>[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...</td>\n",
              "      <td>NaN</td>\n",
              "      <td>8844</td>\n",
              "      <td>tt0113497</td>\n",
              "      <td>en</td>\n",
              "      <td>Jumanji</td>\n",
              "      <td>When siblings Judy and Peter discover an encha...</td>\n",
              "      <td>...</td>\n",
              "      <td>1995-12-15</td>\n",
              "      <td>262797249.0</td>\n",
              "      <td>104.0</td>\n",
              "      <td>[{'iso_639_1': 'en', 'name': 'English'}, {'iso...</td>\n",
              "      <td>Released</td>\n",
              "      <td>Roll the dice and unleash the excitement!</td>\n",
              "      <td>Jumanji</td>\n",
              "      <td>False</td>\n",
              "      <td>6.9</td>\n",
              "      <td>2413.0</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "<p>2 rows × 24 columns</p>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-a06ac27b-e196-4b97-8554-88c62710321b')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-a06ac27b-e196-4b97-8554-88c62710321b button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-a06ac27b-e196-4b97-8554-88c62710321b');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 11
        }
      ]
    },
    {
      "cell_type": "markdown",
      "source": [
        "**3) 훈련 데이터의 양을 줄이기 위해 데이터를 줄여서 상위 20000개의 샘플만 재저장**"
      ],
      "metadata": {
        "id": "-v6xaDqo9qBZ"
      }
    },
    {
      "cell_type": "code",
      "source": [
        "data = data.head(20000)"
      ],
      "metadata": {
        "id": "1xBTrJId8n2R"
      },
      "execution_count": 12,
      "outputs": []
    },
    {
      "cell_type": "markdown",
      "source": [
        "**4) TF-IDF를 연산할 때 데이터에 Null 값이 들어있으면 에러가 발생하므로 data의 overview(줄거리) 열의 결측값 확인**"
      ],
      "metadata": {
        "id": "fPoW1BQB9sLa"
      }
    },
    {
      "cell_type": "code",
      "source": [
        "print('overview 열의 결측값의 수:',data['overview'].isnull().sum())"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "yUAXr5728od_",
        "outputId": "7702c56c-ab0c-4112-d0f1-34852558cb41"
      },
      "execution_count": 13,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "overview 열의 결측값의 수: 135\n"
          ]
        }
      ]
    },
    {
      "cell_type": "markdown",
      "source": [
        "**5) 결측값을 가진 행을 빈 값으로 대체**"
      ],
      "metadata": {
        "id": "8YaqSYtE9t4K"
      }
    },
    {
      "cell_type": "code",
      "source": [
        "data['overview'] = data['overview'].fillna('')"
      ],
      "metadata": {
        "id": "fCWq3CJj8o6X"
      },
      "execution_count": 14,
      "outputs": []
    },
    {
      "cell_type": "markdown",
      "source": [
        "**6) overview 열에 대해서 TF-IDF 행렬을 구한 후 행렬의 크기를 출력하면 20000개의 행을 가지고 47847의 열을 가짐**<br>\n",
        "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**이는 20000개의 영화를 표현하기 위해서 총 47487개의 단어가 사용되었음을 의미하며**<br>\n",
        "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**이는 47487 차원의 문서 벡터가 20000개 존재한다는 의미**"
      ],
      "metadata": {
        "id": "ELySI_kx9xQ6"
      }
    },
    {
      "cell_type": "code",
      "source": [
        "tfidf = TfidfVectorizer(stop_words='english')\n",
        "tfidf_matrix = tfidf.fit_transform(data['overview'])\n",
        "print('TF-IDF 행렬의 크기(shape) :',tfidf_matrix.shape)"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "9mBa3cs_8phw",
        "outputId": "e280868a-3464-4641-d1fb-c6e3f7a1f422"
      },
      "execution_count": 15,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "TF-IDF 행렬의 크기(shape) : (20000, 47487)\n"
          ]
        }
      ]
    },
    {
      "cell_type": "markdown",
      "source": [
        "**7) 20000개의 문서 벡터에 대해서 상호 간의 코사인 유사도를 구하여 20000행 20000열의 행렬을 얻음**"
      ],
      "metadata": {
        "id": "zvYjazNy-CJJ"
      }
    },
    {
      "cell_type": "code",
      "source": [
        "cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)"
      ],
      "metadata": {
        "id": "8160WdPB8q-_"
      },
      "execution_count": 16,
      "outputs": []
    },
    {
      "cell_type": "code",
      "source": [
        "print('코사인 유사도 연산 결과 :',cosine_sim.shape)"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "xJ87R93J8rxC",
        "outputId": "26ac6802-b00a-4e2b-e833-522f635ee26d"
      },
      "execution_count": 17,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "코사인 유사도 연산 결과 : (20000, 20000)\n"
          ]
        }
      ]
    },
    {
      "cell_type": "markdown",
      "source": [
        "**8) 기존 데이터프레임으로부터 영화의 타이틀을 key, 영화의 인덱스를 value로 하는 딕셔너리를 생성**"
      ],
      "metadata": {
        "id": "SuiOHtGx-ENZ"
      }
    },
    {
      "cell_type": "code",
      "source": [
        "title_to_index = dict(zip(data['title'], data.index))"
      ],
      "metadata": {
        "id": "zPg6sCN58r1Q"
      },
      "execution_count": 18,
      "outputs": []
    },
    {
      "cell_type": "code",
      "source": [
        "idx = title_to_index['Father of the Bride Part II']\n",
        "print(idx)"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "iTERkO6u8tHf",
        "outputId": "98822285-58d7-4204-ed38-e9920b7e5a28"
      },
      "execution_count": 19,
      "outputs": [
        {
          "output_type": "stream",
          "name": "stdout",
          "text": [
            "4\n"
          ]
        }
      ]
    },
    {
      "cell_type": "markdown",
      "source": [
        "**9) 선택한 영화의 제목을 입력하면 코사인 유사도를 통해 가장 overview가 유사한 10개의 영화를 찾아내는 함수를 생성**"
      ],
      "metadata": {
        "id": "0Thz86iq-KTQ"
      }
    },
    {
      "cell_type": "code",
      "source": [
        "def get_recommendations(title, cosine_sim=cosine_sim):\n",
        "    idx = title_to_index[title]\n",
        "\n",
        "    sim_scores = list(enumerate(cosine_sim[idx]))\n",
        "\n",
        "    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)\n",
        "\n",
        "    sim_scores = sim_scores[1:11]\n",
        "\n",
        "    movie_indices = [idx[0] for idx in sim_scores]\n",
        "\n",
        "    return data['title'].iloc[movie_indices]"
      ],
      "metadata": {
        "id": "bxOvgeqc8t7A"
      },
      "execution_count": 20,
      "outputs": []
    },
    {
      "cell_type": "markdown",
      "source": [
        "**10) 영화 다크 나이트 라이즈와 overview가 유사한 영화를 찾아보면 다크 나이트를 제외하고는 전부 배트맨 영화를 찾아냄**"
      ],
      "metadata": {
        "id": "soP7Ng9s-MY5"
      }
    },
    {
      "cell_type": "code",
      "source": [
        "get_recommendations('The Dark Knight Rises')"
      ],
      "metadata": {
        "colab": {
          "base_uri": "https://localhost:8080/"
        },
        "id": "26ikciFc8uiX",
        "outputId": "dbca8fd3-87cf-46d2-bffa-635969f315e6"
      },
      "execution_count": 21,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "12481                            The Dark Knight\n",
              "150                               Batman Forever\n",
              "1328                              Batman Returns\n",
              "15511                 Batman: Under the Red Hood\n",
              "585                                       Batman\n",
              "9230          Batman Beyond: Return of the Joker\n",
              "18035                           Batman: Year One\n",
              "19792    Batman: The Dark Knight Returns, Part 1\n",
              "3095                Batman: Mask of the Phantasm\n",
              "10122                              Batman Begins\n",
              "Name: title, dtype: object"
            ]
          },
          "metadata": {},
          "execution_count": 21
        }
      ]
    }
  ]
}